<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Menu
                <a id="btn-add" href="#" class="btn btn-primary btn-icon-split" style="float: right;">
                    <span class="icon text-white-20">
                        <i class="fas fa-vote-yea"></i>
                    </span>
                    <span class="text">Save</span>
                </a>
            </h4>
        </div>
        <div class="card-body">
            <form class="border border-light p-md-2" id="menu" method="POST" action="/cms/menu" enctype="application/x-www-form-urlencoded">
                <div class="form-row mb-4">
                    <% data.forEach(element => { %>
                    <div class="col-lg-6 col-12 mb-2">
                        <div class="card border-left-primary shadow h-100 py-2 d-flex flex-row">
                            <img src="/uploads/foods/<%= element.image %>"
                                style="width: 25%; height: 140px; border-radius: 5px; margin-left: 8px;" alt="">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-md font-weight-bold text-primary text-uppercase mb-1">
                                            <%= element.title %> </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= element.price %> </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-end justify-content-end mt-2 ">
                                    <input type="number" class="form-control" name=<%= element.id %>
                                        style="width: 100px;" placeholder="Num" value=<%= element.amount %>>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% }) %>
                </div>

            </form>
        </div>
    </div>


</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btn-add').click(function (e) {
            e.preventDefault();
            console.log(123);
            $("#menu").submit();
            console.log(123);
        });
    });
</script>